.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  min-height: 100vh;
  margin-top: 100px;
}

.awards__title {
  width: 90%;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.awards__list {
  gap: 30px;
  width: 90%;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  @media screen and (max-width: 500px) {
    justify-content: center;
  }
}