.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  min-height: 100vh;
  margin-top: 100px;
}

.awards__title {
  width: 90%;
  font-size: 40px;
  font-weight: 500;
}

.awards__list {
  width: 90%;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}