.header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100px;
  font-size: 18px;
  background: #ffffff;
  z-index: 1;
  a {
    transition: 0.5s;
    &:hover {
      color: #d442a4;
    }
  }
  @media screen and (max-width: 500px) {
    font-size: 16px;
    gap: 150px;
    justify-content: center;
  }
}

.logo {
  width: 55px;
  height: 52px;
}

.menu__opener {
  width: 50px;
  height: 50px;
  @media screen and (min-width: 500px) {
    display: none;
  }
}

.header__item {
  @media screen and (max-width: 500px) {
    display: none;
  }
}
