.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 20vh;
  margin-top: 50px;
  flex: 0 0 auto;
  font-size: 20px;
  color: #acacac;
}

.academy {
  margin-left: 50px;
}

.login {
  text-decoration: underline;
  cursor: pointer;
}

.social {
  margin-right: 50px;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &>img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}