.adminBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.greeting {
  font-weight: 500;
  font-size: 50px;
  width: 100%;
  text-align: left;
}