.teams_wrapper {
  width: 100vw;
}

.teams {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 50px;
  margin-top: 70px;
}

.title {
  width: 100%;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
}