.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  padding: 0px 10%;
  @media screen and (max-width: 500px) {
    justify-content: center;
    align-content: center;
    gap: 50px;
    height: auto;
    padding: 0;
  }
}

.card__header {
  text-align: left;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  @media screen and (max-width: 500px) {
    text-align: center;
    font-size: 30px;
    padding: 10px;
  }
}

.card__image {
  height: 400px;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 15px;
  @media screen and (max-width: 500px) {
    max-height: 400px;
  }
}

.card__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  @media screen and (max-width: 500px) {
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.card__description {
  margin-top: 20px;
  width: 100%;
  -webkit-line-clamp: 10; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  font-size: 18px;
  @media screen and (max-width: 500px) {
    width: auto;
    padding: 10px;
  }
}

.description__string {
  width: 100%;
}