.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0px 10%;
  @media screen and (max-width: 500px) {
    justify-content: center;
    align-content: center;
    gap: 50px;
    height: auto;
    padding: 0;
  }
}

.card__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 80px;
  font-weight: 500;
  @media screen and (max-width: 500px) {
    font-size: 30px;
    text-align: center;
    padding: 10px;
  }
}

.card__image {
  max-height: 400px;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 15px;
  @media screen and (max-width: 500px) {
    max-height: 400px;
  }
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: -20%;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
}

.arrow__left, .arrow__right {
  width: 30px;
  height: 30px;
}

.arrow__left {
  transform: rotate(-90deg);
}

.arrow__right {
  transform: rotate(90deg);
}

.card__text {
  width: 40%;
  height: 30%;
  @media screen and (max-width: 500px) {
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.card__description {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  @media screen and (max-width: 500px) {
    width: auto;
    padding: 10px;
  }
}

.description__string {
  width: 100%;
}