@font-face {
  font-family: 'TT Norms Pro';
  font-weight: 400;
  src: url('./static/fonts/TTNormsPro-Regular.woff2');
}

@font-face {
  font-family: 'TT Norms Pro';
  font-weight: 500;
  src: url('./static/fonts/TTNormsPro-Medium.woff2');
}

body {
  margin: 0;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #292b2c;
}

a {
  color: #292b2c;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
